* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    line-height: 1.5em;
    color: #7f8c8d;
    font-size: 13px;
    font-family: Quicksand, Ubuntu, sans-serif;
}
h1, h2, h3, h4, h5, h6, label {
    color: #34495e;
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
.l-box {
    padding: 1em;
}
.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.is-center {
    text-align: center;
}
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}
.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    display: inline;
}
.pure-button {
    font-family: Quicksand, Ubuntu, sans-serif;
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    opacity: 0.618;
}
a.pure-button-primary {
    font-family: Quicksand, Ubuntu, sans-serif;
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
}
a.pure-button-secondary {
    font-family: Quicksand, Ubuntu, sans-serif;
    border-radius: 5px;
}
.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: whitesmoke;
    opacity: 0.9;
}
.pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}
.home-menu .pure-menu-heading {
    color: #444444;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 120%;
    text-transform: none;
}
.home-menu .pure-menu-selected a {
    font-weight: 400;
}
.home-menu a {
    color: #6FBEF3;
    font-weight: 400;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}
.splash-container {
    /*background-image: url('landing.jpg') !important;*/
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
    /*background-color: transparent !important;*/
    background: white;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}
.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0%; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: none;
}
.splash-head {
    /*font-family: Quicksand;*/
    font-size: 200%;
    font-weight: bold;
    color: #1f8dd6;
    padding: 0em 1.0em;
    font-weight: 800;
    border-radius: 5px;
}
.splash-subhead {
    font-size: 120%;
    color: #1f8dd6;
    line-height: 1em;
}
.splash-form {
    line-height: 3em;
}
.splash-button {
    line-height: 5em;
}
.content-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2;
    background: white;

}
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}
.content-head-ribbon {
    font-family: Ubuntu, sans-serif;
    color: white;
}
.content-subhead {
    color: #1f8dd6;
    font-family: Ubuntu, sans-serif;
}
.content-subhead i {
    margin-right: 7px;
}
.ribbon {
    font-family: Ubuntu, sans-serif;
    background: #2d3e50;
    color: #aaa;
}
.content-text {
    font-family: 'Open Sans', sans-serif;
}
.footer {
    background: #111;
    opacity: 0.9;
}
@media (min-width: 48em) {
    body {
        font-size: 16px;
    }
    .content {
        font-family: Ubuntu, sans-serif;
        padding: 1em;
    }
    .home-menu {
        text-align: right;
    }
    .home-menu a {
	    float: left;
    }
    .splash-head {
        font-size: 250%;
    }
    .l-box-lrg {
        border: none;
    }
}
@media (min-width: 78em) {
    .splash-head {
        font-size: 300%;
    }
}
